.carouselWrapper {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 2rem 1rem;
    box-sizing: border-box;
    width: 90vw;
    overflow: hidden;
  }
  

  .carouselContainer {
    overflow: hidden;
    width: 100vw;
  
  }


  
  .slider {
    display: flex;
    align-items: flex-start; 
    transition: transform 0.5s ease-in-out;
    width: max-content;
 
  }
  
  .card {
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 2rem;
    font-weight: bold;
    border: 1px solid rgb(165, 162, 162);
    flex-shrink: 0;
  }
  
  .oddCard {
    width: 200px;
    background-color: gray;
    margin-left: 0;
    margin-right: 0;
    height: 1px;
    align-self: center;
    position: relative;
    top: 100px;
  }
  
  

  .evenCard {
    width: 500px;
    height: 200px;
 
    display: flex; 
    justify-content: flex-start;
    align-items: flex-start; 
    padding: 10px;
    margin-left: 0;
    margin-right: 0;
    border-bottom: none;
    
   
  }
  
  .evenWrapper {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding-top: 1rem;

  }
  
  .buttonWrapper {
    display: flex;
    justify-content: center;
    gap: 1rem;
    margin-top: 1.5rem;
  }
  
  .navButton {
    font-size: 4rem;
    padding: 0.5rem 1rem;
    cursor: pointer;
    background: none;

    border-radius: 8px;
    transition: transform 0.2s ease-in-out;
    color: rgb(199, 199, 199);
    font-weight: 200;
  }
  
  .navButton:hover {
    transform: scale(1.2);
    color: #303030;
  }
  
  .cardContent {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
  
    height: 100%;
    padding: 1rem;
    text-align: left;
  }
  
  .cardHeading {
    font-size: 1.8rem;
    font-weight: bold;
    margin-bottom: 0.5rem;
    text-align: center;
    color: #000;
    color: #06516f;
  }
  
  .cardList {
    list-style-type: disc;
    font-weight: 400;
    color: #0a5c7d;
    padding: 0;
    margin: 0;
  }
  
  .cardList li {
    margin: 0.3rem 0;
    font-size: 1.1rem;
    font-size: 19px;
  }

  .cardHeadingOdd{
    font-size: 17px;
    position: relative;
    top: 90px;
    left: 30px;
    color: rgb(165, 162, 162);

}

.mainHeading{
    font-size: 30px;
    text-align: center;
    color: rgb(146, 144, 144);
    font-weight: 400;
}

.mainHeadingSpan{
    color: #9c0f0f;
    font-weight: bold;
}
  


@media (max-width: 768px) {
    .carouselContainer {
      width: 100vw;
      width: 98%;
      border: 1px solid black;
      border-radius: 15px;
    }
  
    .slider {
      height: auto;
      transition: transform 0.5s ease-in-out;
   
    }
  
    .oddCard {
      display: none; 
    }
  
    .evenCard {
      width: 100vw;
      height: auto;
      height: 200px;
      border: none;
      padding: 10px;
    }

    .cardList li {
        font-size: 16px;
      }

    .cardHeading{
        font-size: 20px;
    }

    .cardContent{
        padding: 30px;
    }

    .cardHeadingOdd{
        display: none;

    }

    .mainHeading{
        font-size: 20px;
        margin-top: 40px;
    }

    .buttonWrapper{
        margin-top: 0;
    }



  }
  
  