.gridContainer {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  gap: 32px;
  padding: 60px;
  /* border: 1px solid black; */
  margin: auto 50px;
}

.cardContainer {
  perspective: 1000px;
}

.cardInner {
  position: relative;
  width: 100%;
  height: 150px;
  border-radius: 12px;
  transition: transform 0.6s;
  transform-style: preserve-3d;
}

.cardInner.showDetails {
  transform: rotateY(180deg);
}

.cardFront,
.cardBack {
  position: absolute;
  width: 100%;
  height: 100%;
  backface-visibility: hidden;
  border-radius: 12px;
  border: 1px solid #E3E3E3;
  background-color: #ffffff;
  padding: 16px 20px;

  display: flex;
  flex-direction: column;
  justify-content: center;
  transition: all 0.3s ease;
}

.cardFront {
  z-index: 2;
  flex-direction: row;
  gap: 20px;

}

.cardBack {
  transform: rotateY(180deg);
  overflow-y: auto;
}

.icon {
  width: 36px;
  height: 36px;
  object-fit: contain;
  margin-bottom: 12px;
}

.textBlock {
  font-family: Helvetica;
}

.title {
  font-size: 16px;
  font-weight: bold;
  color: #000949;
}

.subtitle {
  font-size: 18px;
  color: #888;
  margin-top: -8]px;
}

.contentTitle {
  font-family: 'PoppinsLight';
  font-size: 20px;
  font-weight: 600;
  margin-bottom: 10px;
  color: #000949;
}

.groupHeading {
  font-size: 18px;
  font-weight: bold;
  color: #000949;
  margin: 8px 0 4px;

}

.detailsList {
  list-style: disc;
  padding-left: 20px;
  font-size: 14px;
  color: #444;
}
