
.chatWrapper {
  display: flex;
  justify-content: center;
  align-items: flex-start;
  min-height: 100vh;
  width: 100%;
  padding-top: 2.5rem;
  background-color: #F8FAFF;
}

.chatContainer {
  padding: 1.25rem;
  width: 60%;
  display: flex;
  flex-direction: column;   
  gap: 1.875rem;
}

.botMessage,
.userMessage {
  display: flex;
  position: relative;
  width: 100%;
  opacity: 0;
  animation: fadeInFast 0.15s ease-in forwards;
}

.botMessage {
  flex-direction: row;
  justify-content: flex-start;
}

.userMessage {
  flex-direction: row;
  justify-content: flex-start;
}

.avatar {
  width: 2.5rem;
  height: 2.5rem;
  border-radius: 50%;
  background-color: white;
  display: flex;
  justify-content: center;
  align-items: center;
  position: absolute;
  overflow: hidden;
  z-index: 2;
}

.avatar img {
  height: 2rem;
  width: 2rem;
}

.botMessage .avatar {
  top: -1.25rem;
  left: -1.25rem;
  color: #AD181B;
}

.userMessage .avatar {
  bottom: -0.625rem;
  right: -0.625rem;
  color: #02586F;
}

.messageBox {
  background-color: white;
  border-radius: 0.625rem;
  padding: 0.9375rem;
  font-size: 1rem;
  line-height: 1.5;
  max-width: 50%;
  min-width: 18.75rem;
  box-shadow: 0 0.125rem 0.5rem rgba(0, 0, 0, 0.05);
  z-index: 1;
}

.botMessage .messageBox {
  color: #AD181B;
}

.userMessage .messageBox {
  color: #02586F;
  margin-left: auto;
}

.translationWrapper {
  display: flex;
  justify-content: flex-end;
  margin-top: -1.25rem;
  margin-bottom: 1.25rem;
  opacity: 0;
  animation: fadeInFast 0.15s ease-in forwards;
}

.translation {
  font-size: 0.8125rem;
  color: #999;
  max-width: 31.25rem;
  text-align: left;
}


@keyframes fadeInFast {
  to {
    opacity: 1;
  }
}

.avatarGlow {
  position: absolute;
  width: 10rem;
  height: 10rem;
  border-radius: 100%;
  z-index: 0;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -80%);
  pointer-events: none;
}

.avatarGlow1 {
  position: absolute;
  width: 10rem;
  height: 10rem;
  border-radius: 100%;
  z-index: 0;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -30%);
  pointer-events: none;
}

.botGlow {
  background: radial-gradient(circle, rgba(173, 24, 27, 0.24) 0%, rgba(173, 24, 27, 0) 70%);
}

.userGlow {
  background: radial-gradient(circle, rgba(2, 88, 111, 0.24) 0%, rgba(2, 88, 111, 0) 70%);
}

.cursor {
  animation: blink 1s infinite;
}

@keyframes blink {
  0%, 100% {
    opacity: 1;
  }
  50% {
    opacity: 0;
  }
}

/* Responsive */
@media screen and (max-width: 768px) {
  .chatWrapper {
    width: 95%;
    margin-bottom: -4rem;
  }
  .chatContainer {
    width: 100%;
  }

  

  .botMessage,
  .userMessage {
    justify-content: center;
    align-items: flex-start;
  }

  .messageBox {
    margin-top: 0.325rem;
    font-size: 0.8rem;
    line-height: 1.2;
    letter-spacing: -0.01rem;
  }

  .translation {
    font-size: 0.6rem;
    line-height: 1;
    letter-spacing: -0.01rem;
  }

  .botMessage .messageBox,
  .userMessage .messageBox {
    min-width: unset;
    max-width: 100%;
    width: auto;
    margin-left: 1rem;
    margin-right: 1rem;
  }

  .translationWrapper {
    justify-content: center;
    margin-left: 2rem;
    margin-right: 1rem;
  }

  .botMessage .avatar {
    top: -1rem;
    left: 0.1rem;
  }

  
  .userMessage .avatar {
    bottom: -6.7rem;
    right: 0.625rem;
  }
  .avatarGlow {
    width: 10rem;
    height: 10rem;
    border-radius: 90%;
    transform: translate(-30%, -50%);

  }
  
  .avatarGlow1 {
    width: 8rem;
    height: 8rem;
    border-radius: 50%;
    transform: translate(-70%, 10%);

  }
  
}
