.container {
    text-align: center;
    padding-left: 9rem;
    padding-right: 9rem;
    margin-top: 9rem;
    
  }
  
  .title {
    font-size: 39px;
    font-weight: 400;
    color: #000949;
    margin-bottom: 0.5rem;
  }
  
  .highlight {
    font-size: 1.4rem; 
    font-weight: 600;
    color: #b91c1c; 
    margin-top: 10px;
  }
  
  .description {
    font-size: 1.4rem; 
    color: #6b7280; 
    font-weight: 400;
    padding-left: 7rem;
    padding-right: 7rem;
  }
  
  
  @media (max-width: 500px) { 
    .container{
        padding: 2.5rem 1.2rem;
    }
    .title {
      font-size: 1.7rem;
      font-weight: 300;
    }
  
    .highlight {
      font-size: 1.2rem; 
      margin-top: 2rem;
    }
  
    .description {
      font-size: 1rem;
      padding: 0.7rem 0.5rem;
      
    }
  }
  