.container {
    display: flex;
    height: 100vh;
    font-family: sans-serif;
    width: 100vw;

  }
  
  .leftPanel {
    width: 35%; /* Slimmer */
    background-color: #E9E9E9;
    position: relative;
  }
  
  .logoLeft {
    width: 120px;
    height: auto;
  }
  .halfR {
    position: absolute;
    width: 250px;
    height: auto;
    top: 55%;
    left: 50%;
    transform: translate(-50%, -50%);
  }
  
  
  .rightPanel {
    flex: 1;
    background-color: #ffffff;
    display: flex;
    justify-content: center;
    align-items: center;
  }
  
  .formContainer {
    width: 80%;
    max-width: 400px;
    text-align: center;
  }
  
  .logoRight {
    width: 100px;
    /* margin-bottom: 20px; */
  }
  
  input {
    width: 350px;
    height: 55px;
    padding: 0 20px;
    border: 1px solid #CCCCCC;
    border-radius: 10px;
    font-size: 15px;
    margin-bottom: 20px;
  }
  
  button {
    width: 380px;
    height: 60px;
    font-size: 16px;
    
    transition: all 0.3s ease-out;

       padding: 10px;
    background-color: #b91c1c; /* same red as in your screenshot */
    color: white;
    border: none;
    border-radius: 4px;
    font-weight: bold;
    cursor: pointer;
    margin-top: 10px;
    border-radius: 10px;
  }
  
  .error {
    color: red;
    font-size: 13px;
    margin: 5px 0;
  }
  