 .heading{
  font-size: 41px;
 }
 .container{
  margin-top:15rem;
  font-family: "Poppins", sans-serif;
 }
 .txtContainer h1{
 font-weight: 400;
 }
 .secHeading h2{
  font-weight: 300;
 }
.container p{
  font-weight: 260;
  margin-top: 80px;

}
.container img{
  width: 500px;
}
.lastPara p{
  font-size: 23px;
  margin-top: 6rem;
  font-weight: 500;
  
}
.lastPara span{
  font-weight: 500;
}

@media screen and (max-width: 640px) {
  .container {
    margin-top: 7rem;
  }

  .heading {
    font-size: 28px; 
  }
 
  .lastPara p {
    margin-top: 1rem;
    font-size: 17px;
  }
  .expPara {
    color: rgba(145, 141, 141, 0.993);
    font-weight: 400 !important;
    margin: 0 auto;
    font-size: 18px; 
  }
}
