.container {
    display: flex;
    height: 100vh;
    width: 100vw;
    font-family: 'Montserrat', sans-serif;
  }
  
  /* Left Panel */
  .leftPanel {
    width: 35%; /* Slimmer */
    background-color: #E9E9E9;
    position: relative;
  }
  
  .halfR {
    position: absolute;
    width: 250px;
    height: auto;
    top: 55%;
    left: 50%;
    transform: translate(-50%, -50%);
  }
  
  /* Right Panel */
  .rightPanel {
    flex: 1;
    background-color: #FFFFFF;
    display: flex;
    flex-direction: column;
    align-items: center;
  }
  
  /* Top Row */
  .topRow {
    display: flex;
    align-items: center;
    justify-content: space-between;
    width: 400px; /* Same width as input field */
    margin-top: 22%; 
  }
  
  .verbiqLogo {
    width: 120px;
    height: auto;
    margin-bottom: 10px;
  }
  
  .separator {
    color: #888888;
    font-size: 16px;
    margin-left: 130px;
  }
  
  .forgotPasswordLink {
    font-weight: 600;
    font-size: 15px;
    color: #004A6E;
    text-decoration: none;
    display: flex;
    align-items: center;
    gap: 6px;
    cursor: pointer;
    width: 110%;
    margin-right: 2px;

    /* border: 1px solid bisque; */
  }
  
  .arrow {
    font-size: 10px;
    /* border: 1px solid black; */
  }
  
  .forgotPasswordLink:hover {
    text-decoration: underline;
  }
  
  /* Horizontal Line */
  .line {
    width: 400px;
    border: 1px solid #CCCCCC;
    /* margin: 20px 0; */
  }
  
  /* Form Area */
  .formArea {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 20px;
  }
  
  .inputField {
    width: 350px;
    height: 55px;
    padding: 0 20px;
    border: 1px solid #CCCCCC;
    border-radius: 10px;
    font-size: 15px;
    margin-bottom: 20px;
  }
  
  .sendOtpBtn {
    width: 380px;
    height: 50px;
    background-color: white;
    border: 1px solid #002279;
    color: #002279;
    font-size: 16px;
    font-weight: 600;
    border-radius: 10px;
    cursor: pointer;
    transition: all 0.3s ease-out;
  }
  
  .sendOtpBtn:hover {
    background-color: #00D338;
    border: 1px solid transparent;
    color: white;
    transform: scale(1.02);
  }
  /* OTP Inputs */
  .otpContainer {
    margin-top: 40px;
    display: flex;
    gap: 15px;
  }
  
  .otpInput {
    width: 50px;
    height: 50px;
    font-size: 24px;
    text-align: center;
    border: 2px solid #CCCCCC;
    border-radius: 8px;
    outline: none;
    transition: all 0.3s ease;
  }
  
  .otpInput:focus {
    border-color: #002279;
    box-shadow: 0px 0px 5px rgba(0, 34, 121, 0.4);
  }
  
  /* Confirm OTP Button */
  .confirmOtpBtn {
    margin-top: 30px;
    width: 400px;
    height: 56px;
    background-color: #00C853;
    color: white;
    font-size: 18px;
    font-weight: 600;
    border: none;
    border-radius: 10px;
    cursor: pointer;
  }
  
  .confirmOtpBtn:hover {
    background-color: #00b846;
    transform: scale(1.02);
  }
  